
{% extends 'store/main.html' %}
{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-4"></div>
		<div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Quên mật khẩu?</h2>
                  <p>Bạn có thể thiết lập lại mật khẩu của bạn ở đây.</p>
                  <div class="panel-body">
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input name="email" class="form-control" placeholder="Địa chỉ email" type="email" id="id_email" required="true">
                          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" >Xác nhận</button>
                        </div>
                      </div>
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-4"></div>
	</div>
</div>
{% endblock %}