<div class="container">
	<div class="d-flex flex-column" style="font-size: 25px;">
		  <p class="m-auto p-2">
		    Chúng tôi đã gửi hướng dẫn đến email của bạn để lấy lại mật khẩu, nếu tài email được đăng ký, bạn sẽ nhận được email trong thời gian sớm nhất
		  </p>
		  <p class="m-auto p-2">
		   
            Nếu bạn không nhận được email, vui lòng đảm bảo bạn đã nhập đúng địa chỉ email mà bạn đã đăng ký,
            và kiểm tra thư mục thư rác của bạn.
		  </p>
		  <p class="m-auto p-2"><a  style="color: blue; text-decoration: none;" href="{% url 'index' %}">Trở lại trang chủ</a></p>
	</div>
    </div>