{% extends 'store/main.html' %}
{% load static %}
{% static "images" as baseURL %}
{% block content %}

    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Tin tức</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
						<div class="row">
              {% for blogcontent in blogcontent %}
							<div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="{% url 'blogsingle' blogcontent.id %}" class="block-20" style="background-image: url('{{baseURL}}/{{blogcontent.image}}');">
		              </a>
                        <div class="text d-block pl-md-4">
                          <div class="meta mb-3">
                            <div><a href="{% url 'blogsingle' blogcontent.id %}">{{ blogcontent.date | date:"d/m/yy H:i" }}</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                          </div>
                            <h3 class="heading"><a href="{% url 'blogsingle' blogcontent.id %}">{{ blogcontent.title }}</a></h3>
                            <p>
                                {{ blogcontent.snippet }}
                            </p>
                            <p><a href="{% url 'blogsingle' blogcontent.id %}" class="btn btn-primary py-2 px-3">Đọc thêm</a></p>
                        </div>
		            </div>
              </div>
              {% endfor %}
						</div>
          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <!-- <span class="icon ion-ios-search"></span>
                  <input type="text" class="form-control" placeholder="Tìm kiếm"> -->
                </div>
              </form>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Bài viết mới</h3>
              {% for blogcontent in blogcontent %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4"  style="background-image: url('{{baseURL}}/{{blogcontent.image}}');"> </a>
                <div class="text">
                  <h3 class="heading-1"><a href="{% url 'blogsingle' blogcontent.id %}">{{blogcontent.title}}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{blogcontent.date | date:"d/m/yy"}}</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!-- <div class="sidebar-box ftco-animate">
              <h3 class="heading">Chuyên mục</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">Trái cây</a>
                <a href="#" class="tag-cloud-link">Cà chua</a>
                <a href="#" class="tag-cloud-link">Táo</a>
                <a href="#" class="tag-cloud-link">Cà rốt</a>
                  <a href="#" class="tag-cloud-link">Trái cây</a>
                  <a href="#" class="tag-cloud-link">Cà chua</a>
                  <a href="#" class="tag-cloud-link">Táo</a>
                  <a href="#" class="tag-cloud-link">Cà rốt</a>
              </div>
            </div> -->
          </div>

        </div>
      </div>
    </section> <!-- .section -->
    <div class="pagination justify-content-center mb-5">
      {% if product.has_previous %}
        <a class="pagination-action" href="?page=1">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ product.previous_page_number }}">
          <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% for num in product.paginator.page_range %}
        {% if product.number == num %}
        <span class="pagination-number pagination-current">{{ num }}</span>
      {% elif num > product.number|add:'-3' and num < product.number|add:'3' %}
          <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if product.has_next %}

        <a class="pagination-action"  href="?page={{ product.next_page_number }}">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ product.paginator.num_pages }}">
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
        
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  {% endblock content %}