<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nông sản sạch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
  <div class="container">
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li>
                <a class="unback" href="{% url 'index' %}">Quay lại trang chủ</a>
              </li>
              <li>
                  Các mục bài viết
              </li>
              <li>
                  <a href="{% url 'help' %}">Làm thế nào để đặt hàng trên hệ thống?</a>
              </li>
              <li>
                  <a href="{% url 'dathang' %}">Làm sao để tôi đặt nhiều sản phẩm vào cùng một đơn hàng?</a>
              </li>
              <li>
                  <a href="{% url 'helphuy' %}">Làm cách nào để tôi hủy đơn hàng?</a>
              </li>
              
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="help-content">
              <h1>Làm thế nào để đặt hàng trên hệ thống?</h1>
              <p>Quý khách có thể đặt hàng trực tuyến ở website Tiki thông qua các bước đặt hàng cơ bản.
                </p>
                <p>Vui lòng tham khảo thông tin chi tiết về từng bước đặt hàng như sau:</p>
                <p><strong>1. Đăng nhập tài khoản tại hệ thống</strong></p>
                <p>Quý khách vui lòng đăng nhập bằng tài khoản đã có ở hệ thống. 
                  Trong trường hợp chưa đăng ký tài khoản, quý khách có thể chọn dòng “đăng ký” để đăng ký tài khoản.</p>
                  <p>Sau khi đã hoàn tất, quý khách có thể bấm vào chữ “Đăng ký” để hoàn tất quá trình đăng ký.</p>
                  <p><strong>2. Tìm kiếm sản phẩm</strong></p>
                  <p>Quý khách có thể tìm sản phẩm theo 2 cách:
                  <p>Gõ tên sản phẩm vào thanh tìm kiếm.</p>     
                  <p>Tìm theo danh mục.</p>
                  <img src="{% static 'images/timkiem.jpg' %}"alt="">
                </p>
                  <p><strong>3. Thêm sản phẩm vào giỏ hàng</strong></p>
                  <p>Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào
                     hình hoặc tên sản phẩm để vào được trang thông tin chi tiết của sản phẩm, sau đó:</p>
                     <ul>
                       <li>Kiểm tra thông tin sản phẩm: giá, thông tin khuyến mãi.</li>
                       <li>Chọn số lượng mong muốn.</li>
                       <li>Thêm sản phẩm vào giỏ hàng.</li>
                     </ul>
                     <p>Khi đã thao tác bỏ sản phẩm đầu tiên vào đơn hàng, quý khách vui lòng thực hiện các bước sau để thêm các sản phẩm khác vào giỏ hàng:</p>
                     <ul>
                       <li>Chọn vào logo để trở về trang chủ hoặc gõ tìm kiếm sản phẩm trên thanh công cụ.</li>
                       <li>Thêm sản phẩm vào giỏ hàng bằng cách chọn số lượng và “Chọn mua”.</li>
                     </ul>
                     <p><em>Quá trình này có thể lặp lại cho đến khi quý khách hoàn tất việc bỏ tất cả các sản phẩm cần đặt mua vào giỏ hàng.</em></p>
                    <p><strong>4. Kiểm tra giỏ hàng và đặt hàng.</strong></p>
                    <p>Quý khách có thể đặt các sản phẩm khác nhau trong 1 giỏ hàng thành 1 đơn hàng, 
                      các sản phẩm trong giỏ hàng sẽ được đóng thành 1 kiện hàng và giao đến địa chỉ quý khách đã đăng ký.</p>
                      <p>Sau khi quý khách đã có đủ sản phẩm cần đặt trong giỏ hàng, tiếp tục các bước sau để đặt hàng:</p>
                      <ul>
                        <li>Điều chỉnh số lượng và cập nhật giỏ hàng.</li>
                        <li>Bấm “Tiến hành mua hàng” để bắt đầu đặt hàng.</li>
                      </ul>
                      <img src="{% static 'images/giohang.jpg' %}"alt="">
                      <p><strong>5. Điền địa chỉ giao hàng</strong></p>
                      <p>Nhập thông tin của khách hàng, và chọn địa chỉ giao hàng để hoàn tất quá trình đặt hàng</p>
                      <img src="{% static 'images/thanhtoan.jpg' %}"alt="">
                      <hr>
                      <p>Có thêm câu hỏi?</p>
                      <p><a href="{% url 'contact' %}">Gửi yêu cầu tại đây</a></p>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  </div>
    
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  
</body>
</html>